In [1]:
import json
import pandas as pd
import numpy as np
import seaborn as sns
import missingno as mn
from feature_engine.imputation import ArbitraryNumberImputer, MeanMedianImputer, CategoricalImputer
from urllib.request import urlopen
from bs4 import BeautifulSoup

## Data

In [2]:
world_data = pd.read_csv('../data/owid-covid-data.csv')

In [3]:
pd.options.display.max_rows = 60
world_data.head(5).T

,0,1,2,3,4
iso_code,AFG,AFG,AFG,AFG,AFG
continent,Asia,Asia,Asia,Asia,Asia
location,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
date,2020-02-24,2020-02-25,2020-02-26,2020-02-27,2020-02-28
total_cases,1.000,1.000,1.000,1.000,1.000
new_cases,1.000,0.000,0.000,0.000,0.000
new_cases_smoothed,NaN,NaN,NaN,NaN,NaN
total_deaths,NaN,NaN,NaN,NaN,NaN
new_deaths,NaN,NaN,NaN,NaN,NaN
new_deaths_smoothed,NaN,NaN,NaN,NaN,NaN
total_cases_per_million,0.026,0.026,0.026,0.026,0.026
new_cases_per_million,0.026,0.000,0.000,0.000,0.000
new_cases_smoothed_per_million,NaN,NaN,NaN,NaN,NaN
total_deaths_per_million,NaN,NaN,NaN,NaN,NaN
new_deaths_per_million,NaN,NaN,NaN,NaN,NaN
new_deaths_smoothed_per_million,NaN,NaN,NaN,NaN,NaN
reproduction_rate,NaN,NaN,NaN,NaN,NaN
icu_patients,NaN,NaN,NaN,NaN,NaN
icu_patients_per_million,NaN,NaN,NaN,NaN,NaN
hosp_patients,NaN,NaN,NaN,NaN,NaN
hosp_patients_per_million,NaN,NaN,NaN,NaN,NaN
weekly_icu_admissions,NaN,NaN,NaN,NaN,NaN
weekly_icu_admissions_per_million,NaN,NaN,NaN,NaN,NaN
weekly_hosp_admissions,NaN,NaN,NaN,NaN,NaN
weekly_hosp_admissions_per_million,NaN,NaN,NaN,NaN,NaN
new_tests,NaN,NaN,NaN,NaN,NaN
total_tests,NaN,NaN,NaN,NaN,NaN
total_tests_per_thousand,NaN,NaN,NaN,NaN,NaN
new_tests_per_thousand,NaN,NaN,NaN,NaN,NaN
new_tests_smoothed,NaN,NaN,NaN,NaN,NaN
new_tests_smoothed_per_thousand,NaN,NaN,NaN,NaN,NaN
positive_rate,NaN,NaN,NaN,NaN,NaN
tests_per_case,NaN,NaN,NaN,NaN,NaN
tests_units,NaN,NaN,NaN,NaN,NaN
total_vaccinations,NaN,NaN,NaN,NaN,NaN
people_vaccinated,NaN,NaN,NaN,NaN,NaN
people_fully_vaccinated,NaN,NaN,NaN,NaN,NaN
new_vaccinations,NaN,NaN,NaN,NaN,NaN
new_vaccinations_smoothed,NaN,NaN,NaN,NaN,NaN
total_vaccinations_per_hundred,NaN,NaN,NaN,NaN,NaN
people_vaccinated_per_hundred,NaN,NaN,NaN,NaN,NaN
people_fully_vaccinated_per_hundred,NaN,NaN,NaN,NaN,NaN
new_vaccinations_smoothed_per_million,NaN,NaN,NaN,NaN,NaN
stringency_index,8.330,8.330,8.330,8.330,8.330
population,38928341.000,38928341.000,38928341.000,38928341.000,38928341.000
population_density,54.422,54.422,54.422,54.422,54.422
median_age,18.600,18.600,18.600,18.600,18.600
aged_65_older,2.581,2.581,2.581,2.581,2.581
aged_70_older,1.337,1.337,1.337,1.337,1.337
gdp_per_capita,1803.987,1803.987,1803.987,1803.987,1803.987
extreme_poverty,NaN,NaN,NaN,NaN,NaN
cardiovasc_death_rate,597.029,597.029,597.029,597.029,597.029
diabetes_prevalence,9.590,9.590,9.590,9.590,9.590
female_smokers,NaN,NaN,NaN,NaN,NaN
male_smokers,NaN,NaN,NaN,NaN,NaN
handwashing_facilities,37.746,37.746,37.746,37.746,37.746
hospital_beds_per_thousand,0.500,0.500,0.500,0.500,0.500
life_expectancy,64.830,64.830,64.830,64.830,64.830
human_development_index,0.511,0.511,0.511,0.511,0.511

In [4]:
with open('../data/case_data.json') as file:
    local_json_doc = json.load(file)

In [5]:
list(local_json_doc['data'].keys())

['daily_pcr_testing_data',
 'global_deaths',
 'global_new_cases',
 'global_new_deaths',
 'global_recovered',
 'global_total_cases',
 'hospital_data',
 'local_active_cases',
 'local_deaths',
 'local_new_cases',
 'local_new_deaths',
 'local_recovered',
 'local_total_cases',
 'local_total_number_of_individuals_in_hospitals',
 'total_pcr_testing_count',
 'update_date_time']

In [6]:
PCR_Testing = pd.DataFrame(data=local_json_doc['data']['daily_pcr_testing_data'],
                           columns=['count', 'date'])
PCR_Testing

     count        date
0        1  2020-02-18
1        0  2020-02-19
2        1  2020-02-20
3        0  2020-02-21
4        0  2020-02-22
..     ...         ...
451  24451  2021-05-14
452  22247  2021-05-15
453  27183  2021-05-16
454  26941  2021-05-17
455  25590  2021-05-18

[456 rows x 2 columns]

In [7]:
Hospital_data = pd.DataFrame(data=local_json_doc['data']['hospital_data'])
Hospital_data

,created_at,cumulative_foreign,cumulative_local,cumulative_total,deleted_at,hospital,hospital_id,id,treatment_foreign,treatment_local,treatment_total,updated_at
0,2021-05-15 13:16:04,0,1403,1403,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",1,1,0,8,8,None
1,2021-05-15 13:16:04,0,4479,4479,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",2,2,0,155,155,None
2,2021-05-15 13:16:04,0,5100,5100,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",3,3,0,107,107,None
3,2021-05-15 13:16:04,0,1785,1785,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",4,4,0,85,85,None
4,2021-05-15 13:16:04,0,3213,3213,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",5,5,0,24,24,None
5,2021-05-15 13:16:04,0,3180,3180,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",6,6,0,98,98,None
6,2021-05-15 13:16:04,0,657,657,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",7,7,0,12,12,None
7,2021-05-15 13:16:04,0,2410,2410,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",8,8,0,38,38,None
8,2021-05-15 13:16:04,0,804,804,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",9,9,0,30,30,None
9,2021-05-15 13:16:04,0,1597,1597,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",10,10,0,63,63,None
10,2021-05-15 13:16:04,0,2869,2869,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",11,11,0,55,55,None
11,2021-05-15 13:16:04,0,1419,1419,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",12,12,0,72,72,None
12,2021-05-15 13:16:04,0,826,826,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",13,13,0,27,27,None
13,2021-05-15 13:16:04,0,555,555,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",14,14,0,6,6,None
14,2021-05-15 13:16:04,0,2797,2797,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",15,15,0,11,11,None
15,2021-05-15 13:16:04,0,2911,2911,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",16,16,0,14,14,None
16,2021-05-15 13:16:04,0,2585,2585,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",17,17,0,0,0,None
17,2021-05-15 13:16:04,0,852,852,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",18,18,0,8,8,None
18,2021-05-15 13:16:04,0,385,385,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",19,19,0,0,0,None
19,2021-05-15 13:16:04,0,907,907,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",20,20,0,25,25,None
20,2021-05-15 13:16:04,0,69,69,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",21,21,0,0,0,None
21,2021-05-15 13:16:04,0,2107,2107,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",22,22,0,52,52,None
22,2021-05-15 13:16:04,0,2811,2811,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",23,23,0,49,49,None
23,2021-05-15 13:16:04,0,353,353,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",24,24,0,4,4,None
24,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",25,25,0,0,0,None
25,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",26,26,0,0,0,None
26,2021-05-15 13:16:04,0,8265,8265,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",27,27,0,19,19,None
27,2021-05-15 13:16:04,0,241,241,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",28,28,0,0,0,None
28,2021-05-15 13:16:04,0,1879,1879,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",29,29,0,183,183,None
29,2021-05-15 13:16:04,0,391,391,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",30,30,0,1,1,None
30,2021-05-15 13:16:04,0,850,850,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",31,31,0,10,10,None
31,2021-05-15 13:16:04,0,2729,2729,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",32,32,0,230,230,None
32,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",33,33,0,0,0,None
33,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-30 00:00:00', 'deleted...",34,34,0,0,0,None
34,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-30 00:00:00', 'deleted...",35,35,0,0,0,None
35,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-30 00:00:00', 'deleted...",36,36,0,0,0,None

In [8]:
hospital_extended = pd.DataFrame()

for index, row in Hospital_data.iterrows():
    hospital_extended = hospital_extended.append(row['hospital'], ignore_index=True)

In [9]:
hospital_extended

,created_at,deleted_at,id,name,name_si,name_ta,updated_at
0,2020-04-11 08:45:06,None,1.0,National Institute of Infectious Diseases,à¶¶à·à·€à¶± à¶»à·à¶œ à¶´à·’à·…à·’à¶¶à¶³ à¶¢à·à¶­à·’à¶š à¶†à¶ºà¶­à¶±à¶º,à®¤à¯‡à®šà®¿à®¯ à®¤à¯Šà®±à¯à®±à¯ à®¨à¯‹à®¯à®¿à®¯à®²à¯ à®¨à®¿à®±à¯à®µà®©à®®à¯,2020-04-11 08:45:06
1,2020-04-11 08:45:06,None,2.0,National Hospital Sri Lanka,à·à·Šâ€à¶»à·“ à¶½à¶‚à¶šà· à¶¢à·à¶­à·’à¶š à¶»à·à·„à¶½,à®‡à®²à®™à¯à®•à¯ˆ à®¤à¯‡à®šà®¿à®¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ,2020-04-11 08:45:06
2,2020-04-11 08:45:06,None,3.0,TH - Ragama,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶»à·à¶œà¶¸,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®°à®¾à®•à®®,2020-04-11 08:45:06
3,2020-04-11 08:45:06,None,4.0,TH - Karapitiya,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶šà¶»à¶´à·’à¶§à·’à¶º,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®•à®°à®¾à®ªà®¿à®Ÿà®¿à®¯,2020-04-11 08:45:06
4,2020-04-11 08:45:06,None,5.0,TH - Anuradhapura,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶…à¶±à·”à¶»à·à¶°à¶´à·”à¶»,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®…à®©à¯à®°à®¾à®¤à®ªà¯à®°à®®à¯,2020-04-11 08:45:06
5,2020-04-11 08:45:06,None,6.0,TH - Kurunegala,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶šà·”à¶»à·”à¶«à¶œà¶½,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®•à¯à®°à¯à®¨à®¾à®•à®²à¯,2020-04-11 08:45:06
6,2020-04-11 08:45:06,None,7.0,TH- Jaffna,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶ºà·à¶´à¶±à¶º,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®¯à®¾à®´à¯à®ªà¯à®ªà®¾à®£à®®à¯,2020-04-11 08:45:06
7,2020-04-11 08:45:06,None,8.0,National Hospital Kandy,à¶¢à·à¶­à·’à¶š à¶»à·à·„à¶½ - à¶¸à·„à¶±à·”à·€à¶»,à®¤à¯‡à®šà®¿à®¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ à®•à®£à¯à®Ÿà®¿,2020-04-11 08:45:06
8,2020-04-11 08:45:06,None,9.0,TH â€“ Batticaloa,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶¸à¶©à¶šà¶½à¶´à·”à·€,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®®à®Ÿà¯à®Ÿà®•à¯à®•à®³à®ªà¯à®ªà¯,2020-04-11 08:45:06
9,2020-04-11 08:45:06,None,10.0,DGH- Gampaha,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶œà¶¸à·Šà¶´à·„,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®•à®®à¯à®ªà®¹à®¾,2020-04-11 08:45:06
10,2020-04-11 08:45:06,None,11.0,DGH â€“ Negombo,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶¸à·“à¶œà¶¸à·”à·€,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®¨à¯€à®°à¯ à®•à¯Šà®´à¯à®®à¯à®ªà¯,2020-04-11 08:45:06
11,2020-04-11 08:45:06,None,12.0,TH â€“ Rathnapura,à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à¶»à¶­à·Šà¶±à¶´à·”à¶»,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®‡à®°à®¤à¯à®¤à®¿à®©à®ªà¯à®°à®¿,2020-04-11 08:45:06
12,2020-04-11 08:45:06,None,13.0,PGH â€“ Badulla,à¶´à·…à·à¶­à·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶¶à¶¯à·”à¶½à·Šà¶½,à®®à®¾à®•à®¾à®© à®…à®°à®š à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®ªà®¤à¯à®³à¯ˆ,2020-04-11 08:45:06
13,2020-04-11 08:45:06,None,14.0,LRH,à¶»à·’à¶¢à·Šà·€à·š à¶†à¶»à·Šà¶ºà· à·…à¶¸à· à¶»à·à·„à¶½,à®²à¯‡à®Ÿà®¿ à®°à®¿à®Ÿà¯à®œà¯à®µà¯‡ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ,2020-04-11 08:45:06
14,2020-04-11 08:45:06,None,15.0,DMH,à¶©à·’ à·ƒà·œà¶ºà·’à·ƒà· à¶šà·à¶±à·Šà¶­à· à¶»à·à·„à¶½,à®Ÿà®¿ à®šà¯‹à®¯à¯à®šà®¾ à®®à®•à®ªà¯à®ªà¯‡à®±à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ,2020-04-11 08:45:06
15,2020-04-11 08:45:06,None,16.0,DGH â€“ Polonnaruwa,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶´à·œà¶½à·œà¶±à·Šà¶±à¶»à·”à·€,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®ªà¯Šà®²à®©à¯à®©à®±à¯à®µà¯ˆ,2020-04-11 08:45:06
16,2020-04-11 08:45:06,None,17.0,TH - Kalubowila,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶šà¶½à·”à¶¶à·à·€à·’à¶½,à®•à¯Šà®´à¯à®®à¯à®ªà¯ à®¤à¯†à®±à¯à®•à¯ à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ,2020-04-11 08:45:06
17,2020-04-11 08:45:06,None,18.0,Castle Street Teaching Hospital,à¶šà·à·ƒà¶½à·Š à·€à·“à¶¯à·’à¶ºà·š à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½,à®•à®¾à®šà®²à¯ à®µà¯€à®¤à®¿ à®®à®•à®³à®¿à®°à¯ à®ªà¯‹à®¤à®©à®¾ à®®à®°à¯à®¤à¯à®¤à¯à®µà®®à®©à¯ˆ,2020-04-11 08:45:06
18,2020-04-11 08:45:06,None,19.0,Base Hospital- Hambantota,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à·„à¶¸à·Šà¶¶à¶±à·Šà¶­à·œà¶§,à®†à®¤à®¾à®° à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ- à®¹à®®à¯à®ªà®¾à®¨à¯à®¤à¯‹à®Ÿà¯à®Ÿà®¾,2020-04-11 08:45:06
19,2020-04-11 08:45:06,None,20.0,Base Hospital - Monaragala,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à¶¸à·œà¶±à¶»à·à¶œà¶½,à®†à®¤à®¾à®° à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ- à®®à¯‹à®©à®°à®¾à®•à®²à®¾,2020-04-11 08:45:06
20,2020-04-11 08:45:06,None,21.0,Base Hospital - Welikanda,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à·€à·à¶½à·’à¶šà¶±à·Šà¶¯,à®†à®¤à®¾à®° à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ- à®µà®¾à®²à®¿à®•à®£à¯à®Ÿ,2020-04-11 08:45:06
21,2020-04-11 08:45:06,None,22.0,DGH-Kalutara,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶šà·…à·”à¶­à¶»,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ -à®•à®³à¯à®¤à¯à®¤à¯à®±à¯ˆ,2020-04-11 08:45:06
22,2020-04-11 08:45:06,None,23.0,Chest Hospital Welisara,à·…à¶º à¶»à·à·„à¶½ - à·€à·à¶½à·’à·ƒà¶»,à®®à®¾à®°à¯à®ªà¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ -à®µà¯†à®²à®¿à®šà®°à®¾,2020-04-11 08:45:06
23,2020-04-11 08:45:06,None,24.0,Base Hospital Mulleriyawa,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à¶¸à·”à¶½à·Šà¶½à·šà¶»à·’à¶ºà·à·€,à®†à®¤à®¾à®° à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®®à¯à®²à¯à®²à¯‡à®°à®¿à®¯à®¾,2020-04-11 08:45:06
24,2020-04-11 08:45:06,None,25.0,Base Hospital Homagama,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à·„à·à¶¸à·à¶œà¶¸,à®†à®¤à®¾à®° à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®¹à¯‹à®®à®¾à®•à®®,2020-04-11 08:45:06
25,2020-04-11 08:45:06,None,26.0,Dr. Nevil Fernando Hospital,à¶±à·™à·€à·’à¶½à·Š à¶´à·Šâ€à¶»à¶±à·à¶±à·Šà¶¯à·” à¶»à·à·„à¶½,à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®°à¯ à®¨à¯†à®µà®¿à®²à¯ à®ªà¯†à®°à¯à®©à®¾à®£à¯à®Ÿà¯‹ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ,2020-04-11 08:45:06
26,2020-04-11 08:45:06,None,27.0,D. G.H. Chillaw,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à·„à¶½à·à·€à¶­,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ â€“ à®šà®¿à®²à¯à®²à®¾à®µà¯,2020-04-11 08:45:06
27,2020-04-11 08:45:06,None,28.0,D.G.H. Matara,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à¶¸à·à¶­à¶»,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®®à®¾à®¤à®¾à®°à®¾,2020-04-11 08:45:06
28,2020-04-11 08:45:06,None,29.0,K.D.U. Hospital,à¶šà·œà¶­à¶½à·à·€à¶½ à¶†à¶»à¶šà·Šà·‚à¶š à·€à·’à·à·Šà·€ à·€à·’à¶¯à·Šâ€à¶ºà·à¶½ à¶»à·à·„à¶½,à®•à¯Šà®¤à¯à®¤à®²à®¾à®µà¯†à®² à®ªà®¾à®¤à¯à®•à®¾à®ªà¯à®ªà¯ à®ªà®²à¯à®•à®²à¯ˆà®•à¯à®•à®´à®• (k.D.U) à®µà¯ˆà®¤...,2020-04-11 08:45:06
29,2020-04-11 08:45:06,None,30.0,D.G.H. Vavunia,à¶¯à·’à·ƒà·Šà¶­à·Šâ€à¶»à·’à¶šà·Š à¶¸à·„ à¶»à·à·„à¶½ - à·€à·€à·”à¶±à·’à¶ºà·à·€,à®®à®¾à®µà®Ÿà¯à®Ÿ à®ªà¯Šà®¤à¯ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ - à®µà®µà¯à®©à®¿à®¯à®¾,2020-04-11 08:45:06
30,2020-04-11 08:45:06,None,31.0,Base Hospital - Marawila,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à¶¸à·à¶»à·€à·’à¶½,à®¤à®³ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ â€“ à®®à®¾à®±à®µà®¿à®²,2020-04-11 08:45:06
31,2020-04-11 08:45:06,None,32.0,Teaching Hospital - Sri Jayawadhanapura,à¶¯à·à·’à¶šà·Šà·‚à¶« à¶»à·à·„à¶½ - à·à·Šâ€à¶»à·“ à¶¢à¶ºà·€à¶»à·Šà¶°à¶±à¶´à·”à¶»,à®ªà¯‹à®¤à®©à®¾ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ- à®¸à¯à®°à¯€ à®œà®¯à®µà®°à¯à®¤à¯à®¤à®©à®ªà¯à®°,2020-04-11 08:45:06
32,2020-04-11 08:45:06,None,33.0,Base Hospital - Beruwala,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à¶¶à·šà¶»à·”à·€à¶½,à®¤à®³ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ â€“ à®ªà¯†à®°à¯à®µà®¾à®²à®¾,2020-04-11 08:45:06
33,2020-04-30 00:00:00,None,34.0,Base Hospital â€“ Kathankudi,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à¶šà·à¶­à¶±à·Šà¶šà·”à¶©à·’,à®¤à®³ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ â€“ à®•à®¾à®¤à¯à®¤à®¾à®©à¯à®•à¯à®Ÿà®¿,2020-04-30 00:00:00
34,2020-04-30 00:00:00,None,35.0,Base Hospital â€“ Minuwangoda,à¶¸à·–à¶½à·’à¶š à¶»à·à·„à¶½ - à¶¸à·’à¶±à·”à·€à¶±à·Šà¶œà·œà¶©,à®¤à®³ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ â€“ à®®à®¿à®©à¯à®µà®¾à®™à¯à®•à¯‹à®Ÿà®¾,2020-04-30 00:00:00
35,2020-04-30 00:00:00,None,36.0,Navy Hospital,à¶±à·à·€à·’à¶š à·„à¶¸à·”à¶¯à· à¶»à·à·„à¶½,à®•à®Ÿà®±à¯à®ªà®Ÿà¯ˆ à®µà¯ˆà®¤à¯à®¤à®¿à®¯à®šà®¾à®²à¯ˆ,2020-04-30 00:00:00

In [10]:
district_data = pd.read_csv('../data/disdrict distribution.csv')
district_data.head(5)

,Date,AMPARA,ANURADHAPURA,BADULLA,BATTICOLOA,COLOMBO,GALLE,GAMPAHA,HAMBANTOTA,JAFFNA,...,MATALE,MATARA,MONERAGALA,MULLATIVU,NUWARAELIYA,POLONNARUWA,PUTTALAM,RATNAPURA,TRINCOMALEE,VAVUNIA
0,1-Apr-2020,0,0,1,1,32,1,11,0,1,...,0,1,0,0,0,0,25,3,0,0
1,2-Apr-2020,0,0,1,1,33,1,11,0,4,...,0,1,0,0,0,0,25,3,0,0
2,3-Apr-2020,0,0,1,1,36,1,11,0,4,...,0,1,0,0,0,0,25,3,0,0
3,4-Apr-2020,0,0,1,1,38,1,11,0,7,...,0,1,0,0,0,0,26,3,0,0
4,5-Apr-2020,0,0,1,1,42,1,11,0,7,...,0,1,0,0,0,0,27,3,0,0

In [11]:
daily_situation = pd.read_csv('../data/daily situation.csv')
daily_situation.head(5)

,Number inward as at yesterday-10 am,COVID 19 Positive - last 24H,Discharged from the hospital - last 24H,Number of deaths - last 24H,Number inward as at today-10 am,Date,Total Number Confirmed,Total Number Recovered,Total Number of Deaths
0,104,21,2,0,123,1-Apr-2020,143,18,2
1,123,5,3,1,124,2-Apr-2020,148,21,3
2,124,3,1,1,125,3-Apr-2020,151,22,4
3,125,8,3,1,129,4-Apr-2020,159,25,5
4,129,7,4,0,132,5-Apr-2020,166,29,5

In [12]:
clusters = pd.read_csv('../data/clusters.csv')
clusters.head(5)

,Date,Random and Returned from other countries,Navy Personal and their close contacts,Kandakadu cluster & their close contacts,Brandix Minuwangoda,3rd wave (new year)
0,1-May-2020,81,273,0,0,0
1,2-May-2020,83,296,0,0,0
2,3-May-2020,83,311,0,0,0
3,4-May-2020,83,324,0,0,0
4,5-May-2020,87,357,0,0,0

In [13]:
sl_full = world_data[world_data['location'] == 'Sri Lanka']
sl_full

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
76168,LKA,Asia,Sri Lanka,2020-01-27,1.0,1.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76169,LKA,Asia,Sri Lanka,2020-01-28,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76170,LKA,Asia,Sri Lanka,2020-01-29,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76171,LKA,Asia,Sri Lanka,2020-01-30,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76172,LKA,Asia,Sri Lanka,2020-01-31,1.0,0.0,NaN,NaN,NaN,NaN,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76640,LKA,Asia,Sri Lanka,2021-05-13,135796.0,2269.0,2338.857,892.0,42.0,21.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76641,LKA,Asia,Sri Lanka,2021-05-14,138085.0,2289.0,2392.429,923.0,31.0,22.714,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76642,LKA,Asia,Sri Lanka,2021-05-15,140471.0,2386.0,2462.429,941.0,18.0,22.143,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76643,LKA,Asia,Sri Lanka,2021-05-16,142746.0,2275.0,2405.714,962.0,21.0,23.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76644,LKA,Asia,Sri Lanka,2021-05-17,145202.0,2456.0,2381.714,981.0,19.0,22.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782

In [14]:
sl_full.select_dtypes(include=np.number).columns

Index(['total_cases', 'new_cases', 'new_cases_smoothed', 'total_deaths',
       'new_deaths', 'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index'],
      dtype='object')

In [15]:
sl_full.select_dtypes(include=np.object).columns

Index(['iso_code', 'continent', 'location', 'date', 'tests_units'], dtype='object')

In [16]:
pattern = 'smoothed'
feat_drop = []

for feat_name in sl_full.select_dtypes(include=np.number).columns:
    if pattern in feat_name:
        feat_drop.append(feat_name)

feat_drop

['new_cases_smoothed',
 'new_deaths_smoothed',
 'new_cases_smoothed_per_million',
 'new_deaths_smoothed_per_million',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'new_vaccinations_smoothed',
 'new_vaccinations_smoothed_per_million']

In [17]:
sl_full.drop(feat_drop, axis=1, inplace=True)
sl_full.shape

c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4312: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

(477, 51)

In [18]:
sl_full.select_dtypes(include=np.number).isna().mean().sort_values(ascending=False)

hosp_patients                          1.000000
weekly_icu_admissions_per_million      1.000000
weekly_hosp_admissions_per_million     1.000000
weekly_hosp_admissions                 1.000000
icu_patients                           1.000000
icu_patients_per_million               1.000000
handwashing_facilities                 1.000000
hosp_patients_per_million              1.000000
weekly_icu_admissions                  1.000000
people_fully_vaccinated                0.964361
people_fully_vaccinated_per_hundred    0.964361
new_vaccinations                       0.849057
people_vaccinated                      0.828092
total_vaccinations_per_hundred         0.828092
total_vaccinations                     0.828092
people_vaccinated_per_hundred          0.828092
new_deaths_per_million                 0.127883
total_deaths_per_million               0.127883
new_deaths                             0.127883
total_deaths                           0.127883
reproduction_rate                      0.125786
tests_per_case                         0.094340
positive_rate                          0.067086
total_tests                            0.058700
new_tests_per_thousand                 0.058700
total_tests_per_thousand               0.058700
new_tests                              0.058700
stringency_index                       0.002096
gdp_per_capita                         0.000000
hospital_beds_per_thousand             0.000000
life_expectancy                        0.000000
male_smokers                           0.000000
female_smokers                         0.000000
diabetes_prevalence                    0.000000
cardiovasc_death_rate                  0.000000
extreme_poverty                        0.000000
total_cases                            0.000000
aged_70_older                          0.000000
aged_65_older                          0.000000
median_age                             0.000000
population_density                     0.000000
population                             0.000000
new_cases                              0.000000
new_cases_per_million                  0.000000
total_cases_per_million                0.000000
human_development_index                0.000000
dtype: float64

In [19]:
na_features = sl_full.columns[sl_full.isna().sum() > 0]
na_features

Index(['total_deaths', 'new_deaths', 'total_deaths_per_million',
       'new_deaths_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'new_tests', 'total_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand', 'positive_rate',
       'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'stringency_index',
       'handwashing_facilities'],
      dtype='object')

In [20]:
sl_full['date']

76168    2020-01-27
76169    2020-01-28
76170    2020-01-29
76171    2020-01-30
76172    2020-01-31
            ...
76640    2021-05-13
76641    2021-05-14
76642    2021-05-15
76643    2021-05-16
76644    2021-05-17
Name: date, Length: 477, dtype: object

In [21]:
sl_full['date'] = pd.to_datetime(sl_full['date'])
sl_full

c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,iso_code,continent,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
76168,LKA,Asia,Sri Lanka,2020-01-27,1.0,1.0,NaN,NaN,0.047,0.047,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76169,LKA,Asia,Sri Lanka,2020-01-28,1.0,0.0,NaN,NaN,0.047,0.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76170,LKA,Asia,Sri Lanka,2020-01-29,1.0,0.0,NaN,NaN,0.047,0.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76171,LKA,Asia,Sri Lanka,2020-01-30,1.0,0.0,NaN,NaN,0.047,0.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76172,LKA,Asia,Sri Lanka,2020-01-31,1.0,0.0,NaN,NaN,0.047,0.000,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76640,LKA,Asia,Sri Lanka,2021-05-13,135796.0,2269.0,892.0,42.0,6341.681,105.962,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76641,LKA,Asia,Sri Lanka,2021-05-14,138085.0,2289.0,923.0,31.0,6448.577,106.896,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76642,LKA,Asia,Sri Lanka,2021-05-15,140471.0,2386.0,941.0,18.0,6560.004,111.426,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76643,LKA,Asia,Sri Lanka,2021-05-16,142746.0,2275.0,962.0,21.0,6666.246,106.243,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782
76644,LKA,Asia,Sri Lanka,2021-05-17,145202.0,2456.0,981.0,19.0,6780.942,114.695,...,11669.077,0.7,197.093,10.68,0.3,27.0,NaN,3.6,76.98,0.782

In [22]:
np.min(sl_full['date']), np.max(sl_full['date'])

(Timestamp('2020-01-27 00:00:00'), Timestamp('2021-05-17 00:00:00'))

In [23]:
sl_full['month'] = sl_full['date'].dt.month
sl_full['year'] = sl_full['date'].dt.year

sl_full[['month', 'year']]

c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\users\ashen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       month  year
76168      1  2020
76169      1  2020
76170      1  2020
76171      1  2020
76172      1  2020
...      ...   ...
76640      5  2021
76641      5  2021
76642      5  2021
76643      5  2021
76644      5  2021

[477 rows x 2 columns]

group missing values to get clear idea about missing data (using year and month)

In [24]:
na_mask = sl_full.loc[:, :'human_development_index'].isna()
na_mask = pd.concat([na_mask, sl_full[['month', 'year']]], axis=1)
na_mask.groupby(by=['year', 'month'])[na_features].sum().style.background_gradient(cmap='YlOrRd')

- first local patient confirmed in 11th March 2020. most of the features can impute with 0 before that day.

In [25]:
sl_full.tests_units.value_counts()

tests performed    455
Name: tests_units, dtype: int64

In [26]:
cat_imputer = CategoricalImputer(fill_value='tests performed', variables=['tests_units'])
cat_imputer.fit(sl_full)
sl_full = cat_imputer.transform(sl_full)

sl_full['tests_units'].isna().sum()

0

In [27]:
sl_full.loc[76168:76211, na_features] = 0

In [28]:
na_mask = sl_full.loc[:, :'human_development_index'].isna()
na_mask = pd.concat([na_mask, sl_full[['month', 'year']]], axis=1)
na_mask.groupby(by=['year', 'month'])[na_features].sum().style.background_gradient(cmap='YlOrRd')

- arbittary imputation can be do on features with death values before 28th March, first death reported in 28th.

In [34]:
imputer_death = ArbitraryNumberImputer(arbitrary_number=0,
                                       variables=['total_deaths', 'new_deaths',
                                                  'total_deaths_per_million', 'new_deaths_per_million'])
imputer_death.fit(sl_full)
sl_full = imputer_death.transform(sl_full)
sl_full[['total_deaths', 'new_deaths', 'total_deaths_per_million', 'new_deaths_per_million']].isna().sum()

total_deaths                0
new_deaths                  0
total_deaths_per_million    0
new_deaths_per_million      0
dtype: int64

In [35]:
na_mask = sl_full.loc[:, :'human_development_index'].isna()
na_mask = pd.concat([na_mask, sl_full[['month', 'year']]], axis=1)
na_mask.groupby(by=['year', 'month'])[na_features].sum().style.background_gradient(cmap='YlOrRd')