In [11]:
import json
import pandas as pd
import missingno as mn
from feature_engine.imputation import ArbitraryNumberImputer, MeanMedianImputer
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [2]:
world_data = pd.read_csv('../data/owid-covid-data.csv')

In [3]:
pd.options.display.max_rows = 60
world_data.head(5).T

,0,1,2,3,4
iso_code,AFG,AFG,AFG,AFG,AFG
continent,Asia,Asia,Asia,Asia,Asia
location,Afghanistan,Afghanistan,Afghanistan,Afghanistan,Afghanistan
date,2020-02-24,2020-02-25,2020-02-26,2020-02-27,2020-02-28
total_cases,1.000,1.000,1.000,1.000,1.000
new_cases,1.000,0.000,0.000,0.000,0.000
new_cases_smoothed,NaN,NaN,NaN,NaN,NaN
total_deaths,NaN,NaN,NaN,NaN,NaN
new_deaths,NaN,NaN,NaN,NaN,NaN
new_deaths_smoothed,NaN,NaN,NaN,NaN,NaN
total_cases_per_million,0.026,0.026,0.026,0.026,0.026
new_cases_per_million,0.026,0.000,0.000,0.000,0.000
new_cases_smoothed_per_million,NaN,NaN,NaN,NaN,NaN
total_deaths_per_million,NaN,NaN,NaN,NaN,NaN
new_deaths_per_million,NaN,NaN,NaN,NaN,NaN
new_deaths_smoothed_per_million,NaN,NaN,NaN,NaN,NaN
reproduction_rate,NaN,NaN,NaN,NaN,NaN
icu_patients,NaN,NaN,NaN,NaN,NaN
icu_patients_per_million,NaN,NaN,NaN,NaN,NaN
hosp_patients,NaN,NaN,NaN,NaN,NaN
hosp_patients_per_million,NaN,NaN,NaN,NaN,NaN
weekly_icu_admissions,NaN,NaN,NaN,NaN,NaN
weekly_icu_admissions_per_million,NaN,NaN,NaN,NaN,NaN
weekly_hosp_admissions,NaN,NaN,NaN,NaN,NaN
weekly_hosp_admissions_per_million,NaN,NaN,NaN,NaN,NaN
new_tests,NaN,NaN,NaN,NaN,NaN
total_tests,NaN,NaN,NaN,NaN,NaN
total_tests_per_thousand,NaN,NaN,NaN,NaN,NaN
new_tests_per_thousand,NaN,NaN,NaN,NaN,NaN
new_tests_smoothed,NaN,NaN,NaN,NaN,NaN
new_tests_smoothed_per_thousand,NaN,NaN,NaN,NaN,NaN
positive_rate,NaN,NaN,NaN,NaN,NaN
tests_per_case,NaN,NaN,NaN,NaN,NaN
tests_units,NaN,NaN,NaN,NaN,NaN
total_vaccinations,NaN,NaN,NaN,NaN,NaN
people_vaccinated,NaN,NaN,NaN,NaN,NaN
people_fully_vaccinated,NaN,NaN,NaN,NaN,NaN
new_vaccinations,NaN,NaN,NaN,NaN,NaN
new_vaccinations_smoothed,NaN,NaN,NaN,NaN,NaN
total_vaccinations_per_hundred,NaN,NaN,NaN,NaN,NaN
people_vaccinated_per_hundred,NaN,NaN,NaN,NaN,NaN
people_fully_vaccinated_per_hundred,NaN,NaN,NaN,NaN,NaN
new_vaccinations_smoothed_per_million,NaN,NaN,NaN,NaN,NaN
stringency_index,8.330,8.330,8.330,8.330,8.330
population,38928341.000,38928341.000,38928341.000,38928341.000,38928341.000
population_density,54.422,54.422,54.422,54.422,54.422
median_age,18.600,18.600,18.600,18.600,18.600
aged_65_older,2.581,2.581,2.581,2.581,2.581
aged_70_older,1.337,1.337,1.337,1.337,1.337
gdp_per_capita,1803.987,1803.987,1803.987,1803.987,1803.987
extreme_poverty,NaN,NaN,NaN,NaN,NaN
cardiovasc_death_rate,597.029,597.029,597.029,597.029,597.029
diabetes_prevalence,9.590,9.590,9.590,9.590,9.590
female_smokers,NaN,NaN,NaN,NaN,NaN
male_smokers,NaN,NaN,NaN,NaN,NaN
handwashing_facilities,37.746,37.746,37.746,37.746,37.746
hospital_beds_per_thousand,0.500,0.500,0.500,0.500,0.500
life_expectancy,64.830,64.830,64.830,64.830,64.830
human_development_index,0.511,0.511,0.511,0.511,0.511

In [4]:
with open('../data/case_data.json') as file:
    local_json_doc = json.load(file)

In [5]:
list(local_json_doc['data'].keys())

['daily_pcr_testing_data',
 'global_deaths',
 'global_new_cases',
 'global_new_deaths',
 'global_recovered',
 'global_total_cases',
 'hospital_data',
 'local_active_cases',
 'local_deaths',
 'local_new_cases',
 'local_new_deaths',
 'local_recovered',
 'local_total_cases',
 'local_total_number_of_individuals_in_hospitals',
 'total_pcr_testing_count',
 'update_date_time']

In [6]:
PCR_Testing = pd.DataFrame(data=local_json_doc['data']['daily_pcr_testing_data'],
                           columns=['count', 'date'])
PCR_Testing

     count        date
0        1  2020-02-18
1        0  2020-02-19
2        1  2020-02-20
3        0  2020-02-21
4        0  2020-02-22
..     ...         ...
451  24451  2021-05-14
452  22247  2021-05-15
453  27183  2021-05-16
454  26941  2021-05-17
455  25590  2021-05-18

[456 rows x 2 columns]

In [7]:
Hospital_data = pd.DataFrame(data=local_json_doc['data']['hospital_data'])
Hospital_data

,created_at,cumulative_foreign,cumulative_local,cumulative_total,deleted_at,hospital,hospital_id,id,treatment_foreign,treatment_local,treatment_total,updated_at
0,2021-05-15 13:16:04,0,1403,1403,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",1,1,0,8,8,None
1,2021-05-15 13:16:04,0,4479,4479,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",2,2,0,155,155,None
2,2021-05-15 13:16:04,0,5100,5100,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",3,3,0,107,107,None
3,2021-05-15 13:16:04,0,1785,1785,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",4,4,0,85,85,None
4,2021-05-15 13:16:04,0,3213,3213,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",5,5,0,24,24,None
5,2021-05-15 13:16:04,0,3180,3180,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",6,6,0,98,98,None
6,2021-05-15 13:16:04,0,657,657,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",7,7,0,12,12,None
7,2021-05-15 13:16:04,0,2410,2410,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",8,8,0,38,38,None
8,2021-05-15 13:16:04,0,804,804,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",9,9,0,30,30,None
9,2021-05-15 13:16:04,0,1597,1597,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",10,10,0,63,63,None
10,2021-05-15 13:16:04,0,2869,2869,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",11,11,0,55,55,None
11,2021-05-15 13:16:04,0,1419,1419,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",12,12,0,72,72,None
12,2021-05-15 13:16:04,0,826,826,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",13,13,0,27,27,None
13,2021-05-15 13:16:04,0,555,555,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",14,14,0,6,6,None
14,2021-05-15 13:16:04,0,2797,2797,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",15,15,0,11,11,None
15,2021-05-15 13:16:04,0,2911,2911,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",16,16,0,14,14,None
16,2021-05-15 13:16:04,0,2585,2585,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",17,17,0,0,0,None
17,2021-05-15 13:16:04,0,852,852,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",18,18,0,8,8,None
18,2021-05-15 13:16:04,0,385,385,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",19,19,0,0,0,None
19,2021-05-15 13:16:04,0,907,907,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",20,20,0,25,25,None
20,2021-05-15 13:16:04,0,69,69,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",21,21,0,0,0,None
21,2021-05-15 13:16:04,0,2107,2107,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",22,22,0,52,52,None
22,2021-05-15 13:16:04,0,2811,2811,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",23,23,0,49,49,None
23,2021-05-15 13:16:04,0,353,353,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",24,24,0,4,4,None
24,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",25,25,0,0,0,None
25,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",26,26,0,0,0,None
26,2021-05-15 13:16:04,0,8265,8265,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",27,27,0,19,19,None
27,2021-05-15 13:16:04,0,241,241,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",28,28,0,0,0,None
28,2021-05-15 13:16:04,0,1879,1879,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",29,29,0,183,183,None
29,2021-05-15 13:16:04,0,391,391,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",30,30,0,1,1,None
30,2021-05-15 13:16:04,0,850,850,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",31,31,0,10,10,None
31,2021-05-15 13:16:04,0,2729,2729,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",32,32,0,230,230,None
32,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-11 08:45:06', 'deleted...",33,33,0,0,0,None
33,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-30 00:00:00', 'deleted...",34,34,0,0,0,None
34,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-30 00:00:00', 'deleted...",35,35,0,0,0,None
35,2021-05-15 13:16:04,0,0,0,None,"{'created_at': '2020-04-30 00:00:00', 'deleted...",36,36,0,0,0,None

In [8]:
hospital_extended = pd.DataFrame()

for index, row in Hospital_data.iterrows():
    hospital_extended = hospital_extended.append(row['hospital'], ignore_index=True)

In [9]:
hospital_extended

,created_at,deleted_at,id,name,name_si,name_ta,updated_at
0,2020-04-11 08:45:06,None,1.0,National Institute of Infectious Diseases,බෝවන රෝග පිළිබඳ ජාතික ආයතනය,தேசிய தொற்று நோயியல் நிறுவனம்,2020-04-11 08:45:06
1,2020-04-11 08:45:06,None,2.0,National Hospital Sri Lanka,ශ්‍රී ලංකා ජාතික රෝහල,இலங்கை தேசிய வைத்தியசாலை,2020-04-11 08:45:06
2,2020-04-11 08:45:06,None,3.0,TH - Ragama,ශික්ෂණ රෝහල - රාගම,போதனா வைத்தியசாலை - ராகம,2020-04-11 08:45:06
3,2020-04-11 08:45:06,None,4.0,TH - Karapitiya,ශික්ෂණ රෝහල - කරපිටිය,போதனா வைத்தியசாலை - கராபிடிய,2020-04-11 08:45:06
4,2020-04-11 08:45:06,None,5.0,TH - Anuradhapura,ශික්ෂණ රෝහල - අනුරාධපුර,போதனா வைத்தியசாலை - அனுராதபுரம்,2020-04-11 08:45:06
5,2020-04-11 08:45:06,None,6.0,TH - Kurunegala,ශික්ෂණ රෝහල - කුරුණගල,போதனா வைத்தியசாலை - குருநாகல்,2020-04-11 08:45:06
6,2020-04-11 08:45:06,None,7.0,TH- Jaffna,ශික්ෂණ රෝහල - යාපනය,போதனா வைத்தியசாலை - யாழ்ப்பாணம்,2020-04-11 08:45:06
7,2020-04-11 08:45:06,None,8.0,National Hospital Kandy,ජාතික රෝහල - මහනුවර,தேசிய வைத்தியசாலை கண்டி,2020-04-11 08:45:06
8,2020-04-11 08:45:06,None,9.0,TH – Batticaloa,ශික්ෂණ රෝහල - මඩකලපුව,போதனா வைத்தியசாலை - மட்டக்களப்பு,2020-04-11 08:45:06
9,2020-04-11 08:45:06,None,10.0,DGH- Gampaha,දිස්ත්‍රික් මහ රෝහල - ගම්පහ,மாவட்ட பொது வைத்தியசாலை - கம்பஹா,2020-04-11 08:45:06
10,2020-04-11 08:45:06,None,11.0,DGH – Negombo,දිස්ත්‍රික් මහ රෝහල - මීගමුව,மாவட்ட பொது வைத்தியசாலை - நீர் கொழும்பு,2020-04-11 08:45:06
11,2020-04-11 08:45:06,None,12.0,TH – Rathnapura,ශික්ෂණ රෝහල - රත්නපුර,போதனா வைத்தியசாலை - இரத்தினபுரி,2020-04-11 08:45:06
12,2020-04-11 08:45:06,None,13.0,PGH – Badulla,පළාත් මහ රෝහල - බදුල්ල,மாகான அரச வைத்தியசாலை - பதுளை,2020-04-11 08:45:06
13,2020-04-11 08:45:06,None,14.0,LRH,රිජ්වේ ආර්යා ළමා රෝහල,லேடி ரிட்ஜ்வே வைத்தியசாலை,2020-04-11 08:45:06
14,2020-04-11 08:45:06,None,15.0,DMH,ඩි සොයිසා කාන්තා රෝහල,டி சோய்சா மகப்பேறு வைத்தியசாலை,2020-04-11 08:45:06
15,2020-04-11 08:45:06,None,16.0,DGH – Polonnaruwa,දිස්ත්‍රික් මහ රෝහල - පොලොන්නරුව,மாவட்ட பொது வைத்தியசாலை - பொலன்னறுவை,2020-04-11 08:45:06
16,2020-04-11 08:45:06,None,17.0,TH - Kalubowila,දිස්ත්‍රික් මහ රෝහල - කලුබෝවිල,கொழும்பு தெற்கு போதனா வைத்தியசாலை,2020-04-11 08:45:06
17,2020-04-11 08:45:06,None,18.0,Castle Street Teaching Hospital,කාසල් වීදියේ ශික්ෂණ රෝහල,காசல் வீதி மகளிர் போதனா மருத்துவமனை,2020-04-11 08:45:06
18,2020-04-11 08:45:06,None,19.0,Base Hospital- Hambantota,මූලික රෝහල - හම්බන්තොට,ஆதார வைத்தியசாலை- ஹம்பாந்தோட்டா,2020-04-11 08:45:06
19,2020-04-11 08:45:06,None,20.0,Base Hospital - Monaragala,මූලික රෝහල - මොනරාගල,ஆதார வைத்தியசாலை- மோனராகலா,2020-04-11 08:45:06
20,2020-04-11 08:45:06,None,21.0,Base Hospital - Welikanda,මූලික රෝහල - වැලිකන්ද,ஆதார வைத்தியசாலை- வாலிகண்ட,2020-04-11 08:45:06
21,2020-04-11 08:45:06,None,22.0,DGH-Kalutara,දිස්ත්‍රික් මහ රෝහල - කළුතර,மாவட்ட பொது வைத்தியசாலை -களுத்துறை,2020-04-11 08:45:06
22,2020-04-11 08:45:06,None,23.0,Chest Hospital Welisara,ළය රෝහල - වැලිසර,மார்பு வைத்தியசாலை -வெலிசரா,2020-04-11 08:45:06
23,2020-04-11 08:45:06,None,24.0,Base Hospital Mulleriyawa,මූලික රෝහල - මුල්ලේරියාව,ஆதார வைத்தியசாலை - முல்லேரியா,2020-04-11 08:45:06
24,2020-04-11 08:45:06,None,25.0,Base Hospital Homagama,මූලික රෝහල - හෝමාගම,ஆதார வைத்தியசாலை - ஹோமாகம,2020-04-11 08:45:06
25,2020-04-11 08:45:06,None,26.0,Dr. Nevil Fernando Hospital,නෙවිල් ප්‍රනාන්දු රෝහල,வைத்தியர் நெவில் பெர்னாண்டோ வைத்தியசாலை,2020-04-11 08:45:06
26,2020-04-11 08:45:06,None,27.0,D. G.H. Chillaw,දිස්ත්‍රික් මහ රෝහල - හලාවත,மாவட்ட பொது வைத்தியசாலை – சில்லாவ்,2020-04-11 08:45:06
27,2020-04-11 08:45:06,None,28.0,D.G.H. Matara,දිස්ත්‍රික් මහ රෝහල - මාතර,மாவட்ட பொது வைத்தியசாலை - மாதாரா,2020-04-11 08:45:06
28,2020-04-11 08:45:06,None,29.0,K.D.U. Hospital,කොතලාවල ආරක්ෂක විශ්ව විද්‍යාල රෝහල,கொத்தலாவெல பாதுகாப்பு பல்கலைக்கழக (k.D.U) வைத...,2020-04-11 08:45:06
29,2020-04-11 08:45:06,None,30.0,D.G.H. Vavunia,දිස්ත්‍රික් මහ රෝහල - වවුනියාව,மாவட்ட பொது வைத்தியசாலை - வவுனியா,2020-04-11 08:45:06
30,2020-04-11 08:45:06,None,31.0,Base Hospital - Marawila,මූලික රෝහල - මාරවිල,தள வைத்தியசாலை – மாறவில,2020-04-11 08:45:06
31,2020-04-11 08:45:06,None,32.0,Teaching Hospital - Sri Jayawadhanapura,දශික්ෂණ රෝහල - ශ්‍රී ජයවර්ධනපුර,போதனா வைத்தியசாலை- ஸ்ரீ ஜயவர்த்தனபுர,2020-04-11 08:45:06
32,2020-04-11 08:45:06,None,33.0,Base Hospital - Beruwala,මූලික රෝහල - බේරුවල,தள வைத்தியசாலை – பெருவாலா,2020-04-11 08:45:06
33,2020-04-30 00:00:00,None,34.0,Base Hospital – Kathankudi,මූලික රෝහල - කාතන්කුඩි,தள வைத்தியசாலை – காத்தான்குடி,2020-04-30 00:00:00
34,2020-04-30 00:00:00,None,35.0,Base Hospital – Minuwangoda,මූලික රෝහල - මිනුවන්ගොඩ,தள வைத்தியசாலை – மினுவாங்கோடா,2020-04-30 00:00:00
35,2020-04-30 00:00:00,None,36.0,Navy Hospital,නාවික හමුදා රෝහල,கடற்படை வைத்தியசாலை,2020-04-30 00:00:00